{% extends 'base.html' %}
{% block content %}
{{ super() }}

<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-7 text-white">
                        <br/><br/><br/><br/><br/><br/><br/>
                        <span>Фотосессия с автомобилем</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto3.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto4.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto5.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto6.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto7.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto8.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto10.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto11.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto12.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto14.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto15.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto16.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto17.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto18.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto19.jpg">
        </div>
        <div class="hs-item set-bg" data-setbg="static/photo/avto/avto20.jpg">
        </div>


         <div class="hs-item set-bg" data-setbg="static/photo/avto/avto12.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-7 text-white">
                        <br /><br />
                        <span>Фотосессия с автомобилем</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>


{% endblock %}

