{% extends 'base.html' %}
{% block content %}
{{ super() }}

{% endblock %}

{% block slider %}
<div class="hs-item set-bg" data-setbg="static/img/avto.jpg">
    <div class="container">
        <div class="hs-item__content">
            <div class="row">
                <div class="col-xl-4 col-lg-7 text-white">
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <span>Фотосессия с автомобилем</span>
                    <a href="avto" class="site-btn sb-white">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

